<% include ./../../helper/select-box %>
  <% include ./../../helper/image %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">
                <%= title %>
              </h3>
            </div>
            <form action="/admin/<%= collection %>/save" method="post" enctype="multipart/form-data">
              <div class="card-body">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Enter name"
                    value="<%= item.name %>" required />
                </div>
                <div class="form-group">
                  <label for="content">Content</label>
                  <textarea
                  class="form-control"
                  name="content"
                  rows="2"
                  id="content_ckeditor"
                >
                                <%= item.content %>
                </textarea>
                </div>
                <div class="form-group">
                  <label>Status</label>
                  <select class="form-control" name="status" required>
                    <option disabled selected>Please select status</option>
                    <option value="active" <%=(item.status=="active" ? 'selected ="selected"' :'') %>>Active</option>
                    <option value="inactive" <%=(item.status=="inactive" ? 'selected ="selected"' :'') %>>Inactive
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Position: </label>
                  <select class="form-control" name="position" required>
                    <option disabled selected>Please select position</option>
                    <option value="top" <%=(item.position=="top" ? 'selected ="selected"' :'') %>>Top</option>
                    <option value="bottom" <%=(item.position=="bottom" ? 'selected ="selected"' :'') %>>Bottom
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="name">Ordering</label>
                  <input type="number" name="ordering" class="form-control" id="ordering" placeholder="Enter ordering"
                    value="<%= item.ordering %>" required />
                </div>
                <div class="form-group">
                  <label for="start_at">Start Date:</label>
                  <input
                    class="form-control"
                    type="date"
                    id="start_at"
                    name="start_at"
                    value="<%= item.start_at  %>"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="expired_at">Expiration Date:</label>
                  <input
                    class="form-control"
                    type="date"
                    id="expired_at"
                    name="expired_at"
                    value="<%= item.expired_at  %>"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="thumb">Thumb</label>
                  <div class="w-[400px] relative border-2 border-gray-300 border-dashed rounded-lg p-6" id="dropzone">
                    <input type="file" class="absolute inset-0 w-full h-full opacity-0 z-50" id="file-upload"
                      name="thumb" />
                    <div class="text-center">
                      <img class="mx-auto h-12 w-12" src="https://www.svgrepo.com/show/357902/image-upload.svg"
                        alt="" />
                      <h3 class="mt-2 text-sm font-medium text-gray-900">
                        <label for="file-upload" class="relative cursor-pointer">
                          <span>Drag and drop</span>
                          <span class="text-indigo-600"> or browse</span>
                          <span>to upload</span>
                        </label>
                      </h3>
                      <p class="mt-1 text-xs text-gray-500">Image up to 3MB</p>
                    </div>

                    <div id="preview-container" class="mt-4 mx-auto hidden"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Url</label>
                  <input type="url" name="url" class="form-control" id="url" placeholder="Enter url"
                    value="<%= item.url %>" required />
                </div>
                <% if(item.id !==undefined && item.id !=='' ){ %>
                  <div class="form-group">
                    <label>Chosen image</label>
                    <%- imageHelper("backend/upload/advertise/", item.thumb, item.name, 'img-avatar-form' ); %>
                  </div>
                  <%}%>
              </div>

              <div class="card-footer">
                <!-- <button type="submit" class="btn btn-default">Cancel</button> -->
                <input name="thumb_old" value="<%= item.thumb %>" type="hidden" />
                <input name="id" class="form-control" value="<%= item.id %>" hidden />
                <button type="submit" class="btn btn-primary float-right">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Notify-catch errors -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <% if (typeof errorsNotify !=='undefined' && errorsNotify !=='' ) { errorsNotify.forEach(element=> { %>
      <button class="notify" onclick="generateNotify('<%= element.msg %>')" hidden>Click Me</button>
      <% });%>
        <% } %>
          <script>
            $(function () {
              $('.notify').click();
            });
          </script>