<link rel="stylesheet" href="./frontend/stylesheets/checkout.css" />
<% const generateID=()=> { const length = 6; const characters =
"ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"; let id = ""; for (let i = 0; i < length;
i++) { const randomIndex=Math.floor(Math.random() * characters.length); id
+=characters.charAt(randomIndex); } return id; }; let randomID=generateID(); %>
<div class="content-wrap pb-0">
  <div class="container">
    <h2>Checkout Form</h2>
    <form action="/create-order" method="post">
    <div class="row">
      <div class="col-75">
        <div class="container">
            <div class="row">
              <div class="col-50">
                <h3>Billing Address</h3>
                <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                <input
                  type="text"
                  id="fname"
                  name="name"
                  value="<%= userInfo.name  %>"
                />
                <label for="email"><i class="fa fa-envelope"></i> Email</label>
                <input
                  type="text"
                  id="email"
                  name="email"
                  value="<%= userInfo.email  %>"
                />
                <label for="phone"><i class="fa fa-envelope"></i> Phone</label>
                <input
                  type="text"
                  id="phone"
                  name="phone"
                  value="<%= userInfo.phone  %>"
                />
                <label for="adr"
                  ><i class="fa fa-address-card-o"></i> Address</label
                >
                <input
                  type="text"
                  id="adr"
                  name="address"
                  value="<%= userInfo.address  %>"
                />
                <div class="form-group">
                  <label for="name">Ship fee: </label>
                  <select name="shipFee" id="shipFee" required>
                    <option value="">Chọn tỉnh/thành phố</option>
                    <option value="3">Hà Nội</option>
                    <option value="0">TP Hồ Chí Minh</option>
                    <option value="2">Đà Nẵng</option>
                    <option value="3">Hải Phòng</option>
                    <option value="1">Cần Thơ</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="coupon"><i class="fa fa-ticket"></i> Coupon</label>
                  <div class="coupon-input-container" style="display: flex;">
                    <input
                      type="text"
                      id="coupon"
                      name="coupon"
                      placeholder="Enter your coupon code"
                    />
                    <a href="javascript:applyCoupon()" id="checkCouponBtn" style="margin-left: 10px;">Apply</a>
                  </div>
                </div>
              </div>

              <div class="col-50">
                <div id="section-payment-method" class="section">
                  <div class="section-header">
                    <h2 class="section-title">Payment methods</h2>
                  </div>
                  <div class="section-content">
                    <div class="content-box">
                      <div class="radio-wrapper content-box-row">
                        <label
                          class="radio-label"
                          for="payment_method_id_941686"
                        >
                          <div class="radio-input payment-method-checkbox">
                            <input
                              type="radio"
                              id="payment_method_id_941686"
                              class="input-radio"
                              name="payment_method_id"
                              value="941686"
                              checked=""
                            />
                          </div>
                          <div class="radio-content-input">
                            <img
                              class="main-img"
                              src="https://hstatic.net/0/0/global/design/seller/image/payment/cod.svg?v=4"
                            />
                            <div>
                              <span class="radio-label-primary">
                                Cash on delivery (COD)</span
                              >
                              <span class="quick-tagline hidden"></span>
                            </div>
                          </div>
                        </label>
                      </div>
                      <div class="radio-wrapper content-box-row">
                        <label
                          class="radio-label"
                          for="payment_method_id_1003608618"
                        >
                          <div class="radio-input payment-method-checkbox">
                            <input
                              type="radio"
                              id="payment_method_id_1003608618"
                              class="input-radio"
                              name="payment_method_id"
                              value="1003608618"
                            />
                          </div>
                          <div class="radio-content-input">
                            <img
                              class="main-img"
                              src="https://hstatic.net/0/0/global/design/seller/image/payment/other.svg?v=4"
                            />
                            <div>
                              <span class="radio-label-primary"
                                >Payment by cards</span
                              >
                              <span class="quick-tagline hidden"></span>
                            </div>
                          </div>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% let username=(Object.keys(userInfo).length !==0) ?
            userInfo.username : '' %> <% let
            userID=(Object.keys(userInfo).length !==0) ? userInfo.id : '' %>
            <input type="text" value="<%= userID %>" name="user_id" hidden />
            <input
              type="text"
              value="<%= randomID %>_<%= username %>"
              name="orderID"
              hidden
            />
            <input type="submit" value="Continue to checkout" class="btn" />
        </div>
      </div>
      <div class="col-25">
        <div class="container" id="cart-checkout">
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
