<!-- Page Title
		============================================= -->
<section
  id="page-title"
  class="page-title-parallax page-title-dark page-title-center"
  style="
    background-image: url('demos/store/images/men/page-title.jpg');
    background-size: cover;
    padding: 170px 0 100px;
  "
  data-bottom-top="background-position: 50% 200px;"
  data-top-bottom="background-position: 50% -200px;"
>
  <div class="container clearfix">
    <h1><%= currentCategory %></h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
    </ol>
  </div>
</section>
<!-- #page-title end -->

<!-- Content
		============================================= -->
<section id="content">
  <div class="content-wrap pb-0">
    <div class="container topmargin">
      <div class="row">
        <div class="col-md-2 sticky-sidebar-wrap">
          <ul class="list-unstyled items-nav sticky-sidebar">
            <li>
              <a href="/" class="text-dark fw-semibold">All Collections</a>
            </li>
            <li class="no-divider">
              <a href="/" class="text-dark fw-semibold">New Arrivals</a>
            </li>
            <li><hr /></li>
            <% categoryArticle.forEach((item)=>{%>
            <li>
              <a href="<%= item.href %>-idc=<%= item._id.toString() %>">
                <%=item.name %></a
              >
            </li>
            <%}) %>
          </ul>
        </div>

        <div class="col-md-10">
          <div id="shop" class="row shop grid-container" data-layout="fitRows">
            <!-- Shop Item 1
								============================================= -->
            <% products.forEach(item =>{ %>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="product">
                <div class="product-image position-relative">
                  <div
                    class="fslider"
                    data-pagi="false"
                    data-speed="400"
                    data-pause="200000"
                  >
                    <div class="flexslider">
                      <div class="slider-wrap">
                        <div class="slide">
                          <a
                            href="<%= item.slug %>-idp=<%= item._id.toString() %>"
                            ><img
                              src="backend/upload/product/<%=item.img[0] %>"
                              alt="Black Shoe"
                          /></a>
                        </div>
                        <div class="slide">
                          <a
                            href="<%= item.slug %>-idp=<%= item._id.toString() %>"
                            ><img
                              src="backend/upload/product/<%=item.img[1] %>"
                              alt="Black Shoe"
                          /></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <input
                    type="number"
                    step="1"
                    min="1"
                    value="1"
                    name="amount"
                    title="Qty"
                    class="qty"
                    hidden
                  />
                  <input
                    type="text"
                    name="name"
                    value="<%= item.name %>"
                    hidden
                  />
                  <input
                    type="text"
                    name="_id"
                    value="<%= item._id %>"
                    hidden
                  />
                  <input
                    type="text"
                    name="main_Img"
                    value="<%= item.img[0] %>"
                    hidden
                  />
                  <input
                    type="number"
                    name="price"
                    value="<%= item.price %>"
                    hidden
                  />
                  <button
                    class="cart-btn button button-white button-light add-cart add-to-cart"
                  >
                    <i class="icon-line-plus"></i>Add to Cart
                  </button>
                </div>
                <div class="product-desc">
                  <div class="product-title">
                    <h3>
                      <a href="demo-store-product-single.html"
                        ><%=item.name %></a
                      >
                    </h3>
                  </div>
                  <div class="product-price">
                    <% item.size.forEach((element, index) => { %>
                    <input
                      type="radio"
                      id="<%= element.id %>"
                      name="size"
                      value="<%= element.id %>"
                      data-name="<%= element.name %>"
                    />
                    <label for="<%= element.id %>"><%= element.name %></label>
                    <% }) %><ins>$<%=item.price %></ins>
                  </div>
                </div>
              </div>
            </div>
            <%}) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- #content end -->
<script>
  var socket = io();
  socket.emit("collection", "product");
</script>
