<!-- Page Title
		============================================= -->
<link rel="stylesheet" href="./frontend/stylesheets/size-box.css" />
<section
  id="page-title"
  class="page-title-parallax page-title-dark page-title-center"
  style="
    background-image: url('backend/upload/product/<%=product.img[1] %>');
    background-size: cover;
    padding: 170px 0 100px;
  "
  data-bottom-top="background-position: 50% 200px;"
  data-top-bottom="background-position: 50% -200px;"
>
  <div class="container clearfix">
    <h1><%= product.name %></h1>
    <% let categoryOfProduct=categoryArticle.find(element=>
    element._id.toString() == product.category) %>
    <span> <%= categoryOfProduct.name %> </span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item">
        <a href="<%= categoryOfProduct.href %>">
          <%= categoryOfProduct.name %>
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= product.name %>
      </li>
    </ol>
  </div>
</section>
<!-- #page-title end -->

<!-- Content
		============================================= -->
<section id="content">
  <div class="content-wrap pb-0">
    <div class="clear"></div>

    <div class="single-product mb-6">
      <div class="product">
        <div class="container">
          <div class="row gutter-50">
            <div class="col-xl-7 col-lg-5 mb-0 sticky-sidebar-wrap">
              <div
                class="masonry-thumbs grid-container grid-2"
                data-lightbox="gallery"
              >
                <% product.img.forEach(item=> { %>
                <a
                  class="grid-item"
                  href="<%= product.slug %>-idp=<%= product._id.toString() %>"
                  data-lightbox="gallery-item"
                  ><img src="backend/upload/product/<%=item %>" alt="Watch 1"
                /></a>
                <% }) %>
              </div>
            </div>

            <div class="col-xl-5 col-lg-7 mb-0">
              <div class="d-flex align-items-center justify-content-between">
                <!-- Product Single - Price
										============================================= -->
                <div class="product-price">
                  <!-- <del>$39.99</del> <ins>$24.99</ins
                  ><span class="text-warning"> (30% OFF)</span> -->
                  <span>$<%= product.price %></span>
                </div>
                <!-- Product Single - Price End -->
              </div>

              <div class="line line-sm"></div>

              <!-- Product Single - Quantity & Cart Button
									============================================= -->
              <div class="cart mb-0 justify-content-between align-items-center">
                <div class="horizontal-form">
                  <label>Select Size:</label>
                  <% product.size.forEach((item, index) => { let sizeItem =
                  SIZE.find((size) => size._id.toString() == item.name); %>
                  <div class="form-group">
                    <input
                      type="radio"
                      id="<%= item.name %>"
                      name="size"
                      value="<%= item.name %>"
                    />
                    <label for="<%= item.name %>"><%= sizeItem.name %></label>
                  </div>
                  <input
                    type="text"
                    name="size_name"
                    value="<%= sizeItem.name %>"
                    hidden
                  />
                  <% }) %>
                </div>
                <div class="quantity clearfix">
                  <input type="button" value="-" class="minus" />
                  <input
                    type="number"
                    step="1"
                    min="1"
                    value="1"
                    name="amount"
                    title="Qty"
                    class="qty"
                  />
                  <input type="button" value="+" class="plus" />
                </div>
                <input
                  type="text"
                  name="name"
                  value="<%= product.name %>"
                  hidden
                />
                <input
                  type="text"
                  name="_id"
                  value="<%= product._id %>"
                  hidden
                />
                <input
                  type="text"
                  name="main_Img"
                  value="<%= product.img[0] %>"
                  hidden
                />
                <input
                  type="number"
                  name="price"
                  value="<%= product.price %>"
                  hidden
                />
                <button
                  type="button"
                  class="button button-large m-0" id="add-to-cart"
                >
                  Add to cart
                </button>
              </div>

              <!-- Product Single - Quantity & Cart Button End -->

              <div class="line line-sm"></div>

              <div
                data-readmore="true"
                data-readmore-size="250px"
                data-readmore-trigger-open="Read More <i class='icon-angle-down'></i>"
                data-readmore-trigger-close="false"
              >
                <h3>Description</h3>
                <!-- Product Single - Short Description
										============================================= -->
                <%- product.description %>
                <ul class="iconlist mb-0">
                  <li>
                    <i class="icon-caret-right"></i> Dynamic Color Options
                  </li>
                  <li><i class="icon-caret-right"></i> Lots of Size Options</li>
                  <li><i class="icon-caret-right"></i> 30-Day Return Policy</li>
                </ul>
                <!-- Product Single - Short Description End -->

                <a href="#" class="btn btn-dark btn-sm read-more-trigger"></a>
              </div>

              <!-- Product Single - Meta
									============================================= -->
              <div class="card product-meta mt-4 mb-5 rounded-0">
                <div class="card-body">
                  <!-- <span itemprop="productID" class="sku_wrapper"
                    >SKU: <span class="sku">8465415</span></span
                  > -->
                  <span class="posted_in"
                    >Category:
                    <a href="#" rel="tag"> <%= categoryOfProduct.name %> </a
                    >.</span
                  >
                  <span class="tagged_as"
                    >Tags:
                    <a href="#" rel="tag"> <%= categoryOfProduct.name %> </a>,
                  </span>
                </div>
              </div>
              <!-- Product Single - Meta End -->

              <!-- Product Single - Share
									============================================= -->
              <div
                class="si-share d-flex justify-content-between align-items-center mt-4 border-0"
              >
                <h4 class="mb-0">Share:</h4>
                <div>
                  <a href="#" class="social-icon si-borderless si-facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                  </a>
                  <a href="#" class="social-icon si-borderless si-twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                  </a>
                  <a href="#" class="social-icon si-borderless si-pinterest">
                    <i class="icon-pinterest"></i>
                    <i class="icon-pinterest"></i>
                  </a>
                  <a href="#" class="social-icon si-borderless si-gplus">
                    <i class="icon-gplus"></i>
                    <i class="icon-gplus"></i>
                  </a>
                  <a href="#" class="social-icon si-borderless si-rss">
                    <i class="icon-rss"></i>
                    <i class="icon-rss"></i>
                  </a>
                  <a href="#" class="social-icon si-borderless si-email3">
                    <i class="icon-email3"></i>
                    <i class="icon-email3"></i>
                  </a>
                </div>
              </div>
              <!-- Product Single - Share End -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section mb-0">
      <div class="container mw-md text-center">
        <h4>Similar Products</h4>

        <div class="row justify-content-center gutter-1">
          <!-- Shop Item 1
							============================================= -->
          <% if(Array.isArray(productRelated)){ productRelated.forEach(item =>
          {%>
          <div class="col-md-3 col-6 h-translate-y-sm all-ts">
            <div class="product bg-white">
              <div class="product-image position-relative">
                <div
                  class="fslider"
                  data-pagi="false"
                  data-speed="400"
                  data-pause="200000"
                >
                  <div class="flexslider">
                    <div class="slider-wrap">
                      <div class="slide">
                        <a
                          href="<%= item.slug %>-idp=<%= item._id.toString() %>"
                          ><img
                            src="backend/upload/product/<%=item.img[0] %>"
                            alt="<%=item.name %>"
                        /></a>
                      </div>
                      <div class="slide">
                        <a
                          href="<%= item.slug %>-idp=<%= item._id.toString() %>"
                          ><img
                            src="backend/upload/product/<%=item.img[1] %>"
                            alt="<%=item.name %>"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="#" class="cart-btn button button-white button-light"
                  ><i class="icon-line-plus"></i>Add to Cart</a
                >
              </div>
              <div class="product-desc flex-column px-4">
                <div class="product-title">
                  <h3>
                    <a href="demo-store-product-single.html"><%=item.name %></a>
                  </h3>
                  <% let categoryOfProductRelated=categoryArticle.find(element=>
                  element._id.toString() == item.category) %>
                  <span
                    ><a href="#"><%=categoryOfProductRelated.name %></a></span
                  >
                </div>
                <div class="product-price"><ins>$<%=item.price %></ins></div>
              </div>
            </div>
          </div>
          <% })} %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- #content end -->
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
  var socket = io();
  socket.emit("collection", "product");
</script>
