<% include ./../../helper/filter-status-order %> <% include
./../../helper/search-form %><% include ./../../helper/status-order %><% include
./../../helper/pagination %><% include ./../../helper/select-box %> <% include
./../../helper/image %> <% include ./../../helper/isAdmin %> <% include
./../../helper/highlightHelper %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header bg-dark">
                <h3 class="card-title">Filter</h3>
              </div>
              <div class="card-body">
                <div
                  class="btn-group"
                  role="group"
                  aria-label="Basic outlined example"
                >
                  <%= filterStatusOrderHelper(statusFilter, keyword) %>
                </div>
                <%= formSearch(currentStatus) %>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form
              role="form"
              class="form-inline zt-form"
              id="zt-form"
              action=""
              method="post"
            >
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      <div class="form-check">
                        <input type="checkbox" class="cbAll" />
                      </div>
                    </th>
                    <th>orderID</th>
                    <!-- <th>Image</th> -->
                    <th>Email of customer</th>
                    <th>Phone of customer</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="article-list">
                  <% items.forEach((item,index)=> { %>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="cid"
                          value="<%= item.id %>"
                        />
                      </div>
                    </td>
                    <td><%- highlightHelper(item.orderID, keyword) %></td>
                    <td><%= item.customer.email %></td>
                    <td><%= item.customer.phone %></td>
                    <td id="<%= item.id %>">
                      <%= statusOrderHelper(item.status, item.id) %>
                    </td>
                    <td>
                      <a
                        href="form/<%= item.id %>"
                        type="button"
                        class="btn btn-warning btn-sm"
                        >View</a
                      >
                      <a
                        data-id="<%=item.id %>"
                        data-status="<%=currentStatus %>"
                        type="button"
                        class="btn btn-danger btn-sm btn-delete"
                        >Delete</a
                      >
                    </td>
                  </tr>
                  <%}) %>
                </tbody>
              </table>
            </form>
          </div>
          <%- paginationHelper(statusFilter, itemsPerPage, currentPage,
          currentStatus) %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Notify-catch errors -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<% if (typeof messages.successMessage !== 'undefined' && messages.successMessage
!== '') { messages.successMessage.forEach(element => { %>
<button class="notify" onclick="generateNotify('<%= element%>')" hidden>
  Click Me
</button>
<% });%> <% } %>
<script>
  $(function () {
    $(".notify").click();
  });
</script>
