
<% sidebar = () =>{ %>
    <% let data = [
  {
    class: '',
    href: '/admin/',
    icon: 'nav-icon fas fa-tachometer-alt',
    name: 'Dashboard',
  },
  {
    class: '',
    href: '#',
    icon: 'nav-icon fa-solid fa-layer-group',
    name: 'Items',
    class_childItems: 'nav nav-treeview',
    childItems: [
      {
        class: '',
        href: '/admin/items/list',
        icon: 'far fa-circle nav-icon',
        name: 'List',
      },
      {
        class: '',
        href: '/admin/items/form',
        icon: 'far fa-circle nav-icon',
        name: 'Add items',
      }
    ]
  }
]; %>
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <% data.forEach(item => { %>
          <li class="nav-item <%= item.class %>">
            <a href="<%= item.href %>" class="nav-link ">
              <i class="<%= item.icon %>"></i>
              <p>
                <%= item.name %>
              </p>
              <% if (item.childItems && item.childItems.length > 0) { %>
                <i class="right fas fa-angle-left"></i>
              <% } %>
            </a>
            <% if (item.childItems && item.childItems.length > 0) { %>
              <ul class="<%= item.class_childItems %>">
                <% item.childItems.forEach(childItem => { %>
                  <li class="nav-item <%= childItem.class %>">
                    <a href="<%= childItem.href %>" class="nav-link <%= currentPath == childItem.href ? 'active' : '' %>">
                      <i class="<%= childItem.icon %>"></i>
                      <p>
                        <%= childItem.name %>
                      </p>
                    </a>
                  </li>
                <% }); %>
              </ul>
            <% } %>
          </li>
        <% }); %>
      </ul>
<% } %>

