<% featureForm=()=> { %>
<div class="form-group">
  <div id="sizeFields">
    <% if (typeof item.id==="undefined"){ size.forEach((item)=> { %>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="size_<%= item._id %>"
        name="size_id"
        value="<%= item._id %>"
        onclick="generateSizeFields()"
        data-name="<%= item.name %>"
      />
      <label class="form-check-label" for="size_<%= item._id %>">
        <%= item.name %>
      </label>
    </div>
    <% })} else { %>
    <div class="form-group">
      <% size.forEach((element) => { let checkExisted = false;
      item.size.forEach((sizeItem) => { if (sizeItem.id.toString() ==
      element._id) { checkExisted = true; } }); if (checkExisted === false) { %>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="size_<%= element._id %>"
          name="size_id"
          value="<%= element._id %>"
          onclick="generateSizeFields()"
          data-name="<%= element.name %>"
        />
        <label class="form-check-label" for="size_<%= element._id %>">
          <%= element.name %>
        </label>
      </div>
      <% } }) %>
      <label> Chosen sizes: </label>
      <br />
      <% item.size.forEach((item, index) => { %>
      <label class="form-label" for="chosen_size_<%= item.id %>">
        <%= item.name %> :
      </label>
      <input
        class="form-control"
        type="text"
        id="chosen_size_<%= item.id %>"
        value="<%= item.id %>"
        name="size_id"
        hidden
      />
      <input type="text" name="size_name" value="<%= item.name %>" hidden />
      <input
        class="form-control"
        type="number"
        id="chosen_size_<%= item.id %>"
        name="amount"
        value="<%= item.amount %>"
        required
      />
      <% }) %>
    </div>
    <% } %>
    <div id="inputFields"></div>
  </div>
</div>
<div class="form-group">
  <label for="categories">Color: </label>
  <select class="form-control" name="color" required>
    <option disabled selected>Please select Color</option>
    <% color.forEach((element)=> { %> <% let checked=(item.color &&
    item.color==element._id.toString()) ? 'selected ="selected"' : "" ; %>
    <option value="<%=element._id %>" <%="checked" %>
      ><%=element.name %>
    </option>
    <% }) %>
  </select>
</div>
<div class="form-group">
  <label for="price">Price:</label>
  <input
    class="form-control"
    type="number"
    id="price"
    name="price"
    value="<%= item.price %>"
    step="0.01"
    required
  />
</div>
<!-- <div class="form-group">
  <label for="remain">Remain:</label>
  <input
    class="form-control"
    type="number"
    id="remain"
    name="remain"
    required
  />
</div> -->
<div class="form-group">
  <label>Description</label>
  <textarea
    class="form-control"
    name="description"
    rows="2"
    id="content_ckeditor"
  >
                  <%= item.description %>
								</textarea
  >
</div>

<script>
  function generateSizeFields() {
    const sizeFieldsDiv = document.getElementById("sizeFields");
    const inputFieldsDiv = document.getElementById("inputFields");

    const selectedSizes = Array.from(
      document.querySelectorAll('input[name="size_id"]:checked')
    ).map((input) => input.value);
    const selectedNameSizes = Array.from(
      document.querySelectorAll('input[name="size_id"]:checked')
    ).map((input) => input.dataset.name);
    console.log(selectedNameSizes);

    // Remove existing size fields
    while (inputFieldsDiv.firstChild) {
      inputFieldsDiv.removeChild(inputFieldsDiv.firstChild);
    }

    selectedSizes.forEach((size, index) => {
      const sizeField = document.createElement("div");
      sizeField.classList.add("form-group");

      const sizeLabel = document.createElement("label");
      sizeLabel.setAttribute("for", `size_${size}`);
      console.log(selectedNameSizes[index]);

      sizeLabel.textContent = `Size ${selectedNameSizes[index]}:`;

      const sizeInput = document.createElement("input");
      sizeInput.classList.add("form-control");
      sizeInput.setAttribute("type", "number");
      sizeInput.setAttribute("id", `size_${size}`);
      sizeInput.setAttribute("name", `amount`);
      sizeInput.setAttribute("required", "");

      const sizeNameInput = document.createElement("input");
      sizeNameInput.setAttribute("type", "text");
      sizeNameInput.setAttribute("name", `size_name`);
      sizeNameInput.setAttribute("hidden", "");
      sizeNameInput.setAttribute("value", selectedNameSizes[index]);

      sizeField.appendChild(sizeLabel);
      sizeField.appendChild(sizeInput);
      sizeField.appendChild(sizeNameInput);

      inputFieldsDiv.appendChild(sizeField);
    });
  }
</script>
<% } %>
