<% featureForm=()=> { %>
<div class="form-group">
  <div id="sizeFields">
    <% if (typeof item._id==="undefined"){ size.forEach((item)=> { %>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="size_<%= item._id %>"
        name="sizes"
        value="<%= item._id %>"
        onclick="generateSizeFields()"
      />
      <label class="form-check-label" for="size_<%= item._id %>">
        <%= item.name %>
      </label>
    </div>
    <% })} else { %>
    <div class="form-group">
      <% item.size.forEach((item, index) => { %> <% let sizeItem =
      size.find((size) => size._id === item.name); %>
      <input
        class="form-check-input"
        type="checkbox"
        id="size_<%= item.name %>"
        name="sizes"
        value="<%= item.name %>"
        checked
      />
      <label class="form-check-label" for="size_<%= item.name %>">
        <%= sizeItem.name %>
      </label>
      <label for="size_<%= item.name %>"><%= sizeItem.name %> :</label>
      <input
        class="form-control"
        type="number"
        id="size_<%= item.name %>"
        name="amount"
        value="<%= item.amount %>"
        required
      />
      <% }) %>
    </div>
    <% } %>
    <div id="inputFields"></div>
  </div>
</div>
<div class="form-group">
  <label for="categories">Color: </label>
  <select class="form-control" name="color" required>
    <option disabled selected>Please select Color</option>
    <% color.forEach((element)=> { %> <% let checked=(item.color &&
    item.color===element._id) ? 'selected ="selected"' : "" ; %>
    <option value="<%=element._id %>" <%="checked" %>
      ><%=element.name %>
    </option>
    <% }) %>
  </select>
</div>
<div class="form-group">
  <label for="price">Price:</label>
  <input
    class="form-control"
    type="number"
    id="price"
    name="price"
    step="0.01"
    required
  />
</div>
<!-- <div class="form-group">
  <label for="remain">Remain:</label>
  <input
    class="form-control"
    type="number"
    id="remain"
    name="remain"
    required
  />
</div> -->
<div class="form-group">
  <label for="description">Description:</label>
  <textarea class="form-control" id="description" name="description"></textarea>
</div>

<script>
  function generateSizeFields() {
    const sizeFieldsDiv = document.getElementById("sizeFields");
    const inputFieldsDiv = document.getElementById("inputFields");

    const selectedSizes = Array.from(
      document.querySelectorAll('input[name="sizes"]:checked')
    ).map((input) => input.value);

    // Remove existing size fields
    while (inputFieldsDiv.firstChild) {
      inputFieldsDiv.removeChild(inputFieldsDiv.firstChild);
    }

    selectedSizes.forEach((size, index) => {
      const sizeField = document.createElement("div");
      sizeField.classList.add("form-group");

      const sizeLabel = document.createElement("label");
      sizeLabel.setAttribute("for", `size_${size}`);
      sizeLabel.textContent = `Size ${index + 1}:`;

      const sizeInput = document.createElement("input");
      sizeInput.classList.add("form-control");
      sizeInput.setAttribute("type", "number");
      sizeInput.setAttribute("id", `size_${size}`);
      sizeInput.setAttribute("name", `amount`);
      sizeInput.setAttribute("required", "");

      sizeField.appendChild(sizeLabel);
      sizeField.appendChild(sizeInput);

      inputFieldsDiv.appendChild(sizeField);
    });
  }
</script>
<% } %>
