<% mainForm = () => { %>
<div class="form-group">
  <label for="name">Name</label>
  <input type="name" name="name" class="form-control" id="name" placeholder="Enter name" value="<%= item.name %>"
    required />
</div>
<div class="form-group">
  <label>Status</label>
  <select class="form-control" name="status" required>
    <option disabled selected>Please select status</option>
    <option value="active" <%=(item.status=="active" ? 'selected ="selected"' :'') %>>Active</option>
    <option value="inactive" <%=(item.status=="inactive" ? 'selected ="selected"' :'') %>>Inactive
    </option>
  </select>
</div>
<div class="form-group">
  <label for="categories">Categories</label>
  <select class="form-control" name="category" required>
    <option disabled selected>Please select category</option>
    <% category.forEach((element)=> { %>
      
      <% let checked=(item.category == element._id.toString()) ? 'selected ="selected"' : "" ;
       %>
        <option value="<%=element._id %>" <%=checked %> ><%=element.name %>
        </option>
        <% }) %>
  </select>
</div>
<div class="form-group">
  <label>Special</label>
  <select class="form-control" name="special" required>
    <option disabled selected>Please select special</option>
    <option value="on" <%=(item.special=="on" ? 'selected ="selected"' :'') %>>On</option>
    <option value="off" <%=(item.special=="off" ? 'selected ="selected"' :'') %>>Off
    </option>
  </select>
</div>
<div class="form-group">
  <% if (item.slug !=='' && typeof item.slug !=='undefined' ) { %>
    <label for="name">Slug</label>
    <input type="name" name="slug" class="form-control" id="slug" value="<%= item.slug %>" />
    <% } %>
</div>
<% } %>
