<% contactForm=()=>{ %>
    <div class="form-group">
        <label for="contact-email">Contact Email:</label>
        <input class="form-control" type="email" id="contact-email" name="email" value="<%= data.contact.email%>" />
    </div>
    <div class="form-group">
        <label for="contact-phone">Contact Phone:</label>
        <input class="form-control" type="tel" id="contact-phone" name="phone" value="<%= data.contact.phone %>" />
    </div>
    <div class="form-group">
        <label for="contact-facebook">Contact Facebook Link:</label>
        <input class="form-control" type="text" id="contact-facebook" name="facebook"
            value="<%= data.contact.facebook %>" />
    </div>
    <div class="form-group">
        <label for="contact-address">Contact Address:</label>
        <input class="form-control" id="contact-address" name="address" value="<%= data.contact.address %>"></input>
    </div>
    <div class="form-group">
        <label for="contact-address">Contact Description:</label>
        <textarea class="form-control" name="description" rows="2" id="content_ckeditor">
            <%= data.contact.description %>
            </textarea>
    </div>
    <% } %>