<nav class="primary-menu with-arrows">
  <!-- Menu Left -->
  <ul class="not-dark menu-container">
    <% categoryParent.forEach((item)=> {%> <% if (item.childs.length > 0 && item.childs[0] !== null) { %>
    <li class="menu-item mega-menu">
      <a class="menu-link" href="<%= item.href%>">
        <div><%= item.name %></div>
      </a>
      <% var results = []; item.childs.forEach((element) => { var result =
      categoryArticle.find((obj) => { return obj._id.toString() === element; });
      if (result) { results.push(result); } }); %>
      <div class="mega-menu-content mega-menu-style-2">
        <div class="container">
          <div class="row">
            <ul
              class="mega-menu-column sub-menu-container border-start-0 col-lg-3"
            >
              <% results.forEach((item)=>{%>
              <li class="mega-menu-title menu-item">
                <a class="menu-link" href="<%= item.href %>-idc=<%= item._id.toString() %>">
                  <div><%= item.name %></div>
                </a>
              </li>
              <%})%>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <%} else {%>
    <li class="menu-item current">
      <a class="menu-link" href="<%= item.href %>">
        <div><%= item.name %></div>
      </a>
    </li>
    <%} %> <%}) %>
  </ul>
</nav>
