<nav class="primary-menu with-arrows">
  <!-- Menu Left -->
  <ul class="not-dark menu-container">
    <% categoryParent.forEach((item)=> {%> <% if (item.childs.length > 0 && item.childs[0] !== null) { %>
    <li class="menu-item mega-menu">
      <a class="menu-link" href="<%= item.href%>">
        <div><%= item.name %></div>
      </a>
      <% var results = []; item.childs.forEach((element) => { var result =
      categoryArticle.find((obj) => { return obj._id.toString() === element; });
      if (result) { results.push(result); } }); %>
      <div class="mega-menu-content mega-menu-style-2">
        <div class="container">
          <div class="row">
            <ul
              class="mega-menu-column sub-menu-container border-start-0 col-lg-3"
            >
              <% results.forEach((item)=>{%>
              <li class="mega-menu-title menu-item">
                <a class="menu-link" href="<%= item.href %>-id-<%= item._id.toString() %>">
                  <div><%= item.name %></div>
                </a>
              </li>
              <%})%>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <%} else {%>
    <li class="menu-item current">
      <a class="menu-link" href="<%= item.href %>">
        <div><%= item.name %></div>
      </a>
    </li>
    <%} %> <%}) %>
    <!-- .mega-menu end -->
    <li class="menu-item mega-menu">
      <a class="menu-link" href="#">
        <div>Help</div>
      </a>
      <div class="mega-menu-content mega-menu-style-2">
        <div class="container">
          <div class="row">
            <ul
              class="mega-menu-column sub-menu-container col-lg-4 border-start-0"
            >
              <li class="mega-menu-title menu-item">
                <a class="menu-link" href="#">
                  <div>Contact Us</div>
                </a>
                <ul class="sub-menu-container">
                  <li class="menu-item">
                    <div class="widget">
                      <address>
                        <strong>Melbourne Store:</strong><br />
                        795 Folsom Ave, Suite 600<br />
                        San Francisco, CA 94107<br />
                      </address>
                      <abbr title="Phone Number"><strong>Phone:</strong></abbr>
                      (1) 8547 632521<br />
                      <abbr title="Fax"><strong>Fax:</strong></abbr> (1) 11 4752
                      1433<br />
                      <abbr title="Email Address"><strong>Email:</strong></abbr>
                      info@canvas.com
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
            <ul
              class="mega-menu-column sub-menu-container col-lg-4 border-start-0"
            >
              <li class="mega-menu-title menu-item">
                <a class="menu-link" href="#">
                  <div>Inquiries</div>
                </a>
                <ul class="sub-menu-container">
                  <li class="menu-item">
                    <a class="menu-link" href="#">
                      <div>About Us</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#">
                      <div>Size Chart</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#">
                      <div>Our Policies</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#">
                      <div>Exchange/Return</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#">
                      <div>Payments</div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul
              class="mega-menu-column sub-menu-container col-lg-4 border-start-0"
            >
              <li class="mega-menu-title menu-item">
                <a class="menu-link" href="#">
                  <div>FAQs</div>
                </a>
                <ul class="sub-menu-container">
                  <li class="menu-item">
                    <a class="menu-link" href="#">
                      <div>Q. How do I purchase an item?</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#">
                      <div>Q. How do I return my items?</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#">
                      <div>Q. Shipping Charges?</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#">
                      <div>Q. What is your Delivery time?</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a class="menu-link" href="#">
                      <div>Q. Is there any hidden Charges?</div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <!-- .mega-menu end -->
    <li class="menu-item">
      <a class="menu-link" href="demo-store-contact.html">
        <div>Contact</div>
      </a>
    </li>
  </ul>
</nav>
