<% include ../../elements/main/articles %>
<div class="content-wrap pb-0">
  <!-- Login/Register Modal -->
  <div class="modal-register mfp-hide" id="modal-register">
    <%- include('../../elements/main/login-modal') %>
  </div>

  <!-- Feature -->
  <%- include('../../elements/main/feature') %>

  <div class="clear"></div>

  <!-- Contain items -->
  <%- include('../../elements/main/contain-items') %>

  <!-- Articles -->
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills mb-4">
          <% category.forEach((cat) => { %>
          <li class="nav-item">
            <a class="nav-link" href="javascript:changeCategory('<%= cat._id %>')"
              ><%= cat.name %></a
            >
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <div class="row" id="articleControl"><%= articleHelper(itemSpecial) %></div>
  </div>
  <%- include('../../elements/main/promote') %>
</div>
