<% include ../../elements/main/articles %>
<div class="content-wrap pb-0">
  <!-- Login/Register Modal -->
  <div class="modal-register mfp-hide" id="modal-register">
    <%- include('../../elements/main/login-modal') %>
  </div>

  <div class="container-fluid">
    <div class="mx-auto center bottommargin" style="max-width: 700px">
      <h2>Fresh Collection of 2019</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
        aspernatur repudiandae nobis earum voluptate id adipisci nostrum
        mollitia, ipsam, asperiores, soluta dolorem facere exercitationem
        laborum. Magni mollitia laudantium vel tempore.
      </p>
    </div>
  </div>

  <!-- Feature -->
  <%- include('../../elements/main/feature') %>

  <div class="clear"></div>

  <!-- Contain items -->
  <%- include('../../elements/main/contain-items') %>

  <!-- Articles -->
  <div class="container-fluid mt-5">
    <div class="row"><%= articleHelper(itemSpecial) %></div>
  </div>
  <%- include('../../elements/main/promote') %>
</div>
