<% articleHelper = (itemSpecial) => { itemSpecial.forEach((item) => { %>
<div class="col-md-6 mb-5">
  <img
    src="backend/upload/article/<%= item.thumb %>"
    alt="image"
    class="mb-4"
  />
  <h4 class="mb-2">
    <a href="<%= item.slug %>-id<%= item._id %>"><%= item.name%></a>
  </h4>
  <p class="mb-3">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo doloremque
    eveniet dolorem, porro earum. Eius, corrupti provident iusto modi sunt.
  </p>
  <a href="<%= item.slug %>-id<%= item._id %>" class="stretched-link btn p-0 fw-semibold"
    ><u>View Details</u>
    <i class="icon-line-arrow-right position-relative ms-1" style="top: 2px"></i
  ></a>
</div>
<% })} %>
