<% productComponent = (products) => { products.forEach(item => {%>
<div class="col-lg-4 col-md-6 mb-4">
  <div class="product">
    <div class="product-image position-relative">
      <div
        class="fslider"
        data-pagi="false"
        data-speed="400"
        data-pause="200000"
      >
        <div class="flexslider">
          <div class="slider-wrap">
            <div class="slide">
              <a href="<%= item.slug %>-idp=<%= item._id.toString() %>"
                ><img
                  src="backend/upload/product/<%= item.img[0] %>"
                  alt="<%= item.name %>"
              /></a>
            </div>
            <div class="slide">
              <a href="<%= item.slug %>-idp=<%= item._id.toString() %>"
                ><img
                  src="backend/upload/product/<%= item.img[1] %>"
                  alt="<%= item.name %>"
              /></a>
            </div>
          </div>
        </div>
      </div>

      <input
        type="number"
        step="1"
        min="1"
        value="1"
        name="amount"
        title="Qty"
        class="qty"
        hidden
      />
      <input type="text" name="name" value="<%= item.name %>" hidden />
      <input type="text" name="_id" value="<%= item._id %>" hidden />
      <input type="text" name="main_Img" value="<%= item.img[0] %>" hidden />
      <input type="number" name="price" value="<%= item.price %>" hidden />
      <button
        class="cart-btn button button-white button-light add-cart"
        id="add-to-cart"
      >
        <i class="icon-line-plus"></i>Add to Cart
      </button>
    </div>
    <div class="product-desc">
      <div class="product-title">
        <h3>
          <a href="<%= item.slug %>-idp=<%= item._id.toString() %>"
            ><%= item.name %></a
          >
        </h3>
      </div>
      <div class="product-price">
        <div class="form-group">
          <% item.size.forEach((element, index) => { %>
          <input
            type="radio"
            id="<%= element.id %>"
            name="size"
            value="<%= element.id %>"
          />
          <label for="<%= element.id %>"><%= element.name %></label>
          <input
            type="text"
            name="size_name"
            value="<%= element.name %>"
            hidden
          />
          <% }) %>
          <ins>$<%= item.price %></ins>
        </div>
      </div>
    </div>
  </div>
</div>
<%})} %>
