<% productComponent = (products) => { products.forEach(item => {%>
<div class="col-lg-4 col-md-6 mb-4">
  <div class="product">
    <div class="product-image position-relative">
      <div
        class="fslider"
        data-pagi="false"
        data-speed="400"
        data-pause="200000"
      >
        <div class="flexslider">
          <div class="slider-wrap">
            <div class="slide">
              <a href="<%= item.slug %>-id-<%= item._id.toString() %>"
                ><img
                  src="backend/upload/product/<%= item.img[0] %>"
                  alt="<%= item.name %>"
              /></a>
            </div>
            <div class="slide">
              <a href="<%= item.slug %>-id-<%= item._id.toString() %>"
                ><img
                  src="backend/upload/product/<%= item.img[1] %>"
                  alt="<%= item.name %>"
              /></a>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="cart-btn button button-white button-light"
        ><i class="icon-line-plus"></i>Add to Cart</a
      >
    </div>
    <div class="product-desc">
      <div class="product-title">
        <h3>
          <a href="<%= item.slug %>-id-<%= item._id.toString() %>"
            ><%= item.name %></a
          >
        </h3>
      </div>
      <div class="product-price"><ins><%= item.price %></ins></div>
    </div>
  </div>
</div>
<%})} %>
