<% promoComponent=(data)=> { %>
<div class="section mt-0 mb-0" style="padding: 80px 0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h4 class="text-uppercase">Shipping Worldwide</h4>
        <p>
          Minimum $999 for free Shipping. Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Odio sequi natus eveniet, dicta magni!
          Modi nihil quis quos at mollitia.
        </p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h4 class="text-uppercase">Free Returns</h4>
        <p class="h6 fw-bold">Within 30 days Guarantee</p>
        <p>
          Synergistically repurpose ethical value and backend paradigms.
          Holisticly architect effective expertise for installed base e-markets.
        </p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h4 class="text-uppercase">Customer Service</h4>
        <p>
          Odio sequi natus eveniet, dicta magni! Modi nihil quis quos at
          mollitia.
        </p>
        <abbr title="Phone Number"><strong>Phone:</strong></abbr> <%=
        data.contact.phone %><br />
        <abbr title="Email Address"><strong>Email:</strong></abbr>
        <%= data.contact.email %><br />

        <a
          href="<%= data.contact.facebook %>"
          class="social-icon si-small si-light si-rounded si-facebook mt-4 me-2"
        >
          <i class="icon-facebook"></i>
          <i class="icon-facebook"></i>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <h4 class="text-uppercase">Our Stores</h4>
        <address class="mb-3">
          <strong>Sydney Store:</strong><br />
          <%= data.contact.address %><br />
        </address>
        <abbr title="Time"><strong>Timing:</strong></abbr> Every day: 10am –
        7pm<br />
      </div>
    </div>
  </div>
</div>

<div class="section bg-transparent py-3">
  <div class="container-fluid">
    <div class="row justify-content-center m-auto" style="max-width: 1000px">
      <div class="col-md-7">
        <p class="h6 mb-0 text-muted">
          Conveniently network effective total linkage via intermandated
          opportunities. Distinctively
          <a href="mailto:noreply@canvas.com"
            ><u><%= data.contact.email %></u></a
          >
          premium products.
        </p>
      </div>
      <div class="col-md-5 mt-3 mt-md-0">
        <h2 class="h1 fw-bold ls--1 color">
          <a href="tel:09876543211"><%= data.contact.phone %></a>
        </h2>
      </div>
    </div>
  </div>
</div>
<% } %>
