<% filterStatusOrderHelper=(statusFilter, keyword)=> { %>
    <% statusFilter.forEach((filter)=> {
        let link = (keyword != '' && keyword != undefined) ? filter.value + "?search=" + keyword : filter.value;
        %>
        <a id ="<%= filter.value %>" class="btn m-b-sm btn-default <%= filter.class %> btn-sm" href="<%= link %>" style="font-size: 1.4rem;">
            <%= filter.name %> (<%= filter.count %>)
        </a>
        <% }); %>
            <% } %>