<% include highlightHelper %> <% showItemsHelper=(items, keyword, collection)=>
{ %> <% items.forEach((item,index)=> { %>
<tr>
  <td>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        name="cid"
        value="<%= item.id %>"
      />
    </div>
  </td>
  <td><%- highlightHelper(item.name, keyword) %></td>
  <% if (collection == "article") { %>
  <td><%- imageHelper("backend/upload/article/", item.thumb, item.name) %></td>
  <%} %>
  <td id="<%= item.id %>"><%= statusHelper("items",item.status, item.id) %></td>
  <td class="<%= item.id %>">
    <input
      type="number"
      value="<%= item.ordering %>"
      class="text-center ordering"
      onchange="changeOrdering('<%= item.id %>', this.value)"
    />
  </td>
  <% if (collection == "article") { %>
  <td id="<%= item.id %>-special">
    <%= specialHelper("items",item.special, item.id) %>
  </td>
  <%} %>
  <td>
    <a href="form/<%= item.id %>" type="button" class="btn btn-warning btn-sm"
      >Edit</a
    >
    <a
      data-id="<%=item.id %>"
      data-status="<%=currentStatus %>"
      type="button"
      class="btn btn-danger btn-sm btn-delete"
      >Delete</a
    >
  </td>
</tr>
<%})} %>
