<% include ./../../helper/filter-status %> <% include ./../../helper/search-form
%> <% include ./../../helper/action %> <% include ./../../helper/status %> <%
include ./../../helper/show-items %> <% include ./../../helper/pagination %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header bg-dark">
                <h3 class="card-title">Filter</h3>
              </div>
              <div class="card-body">
                <div
                  class="btn-group"
                  role="group"
                  aria-label="Basic outlined example"
                >
                  <%= filterStatusHelper(statusFilter, keyword) %>
                </div>
                <%= formSearch(currentStatus) %>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form
              role="form"
              class="form-inline zt-form"
              id="zt-form"
              action=""
              method="post"
            >
              <%- actionHelper(currentStatus) %>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      <div class="form-check">
                        <input type="checkbox" class="cbAll" />
                      </div>
                    </th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Image</th>
                    <th>Ordering</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <%= showItemsHelper(items, keyword) %>
                </tbody>
              </table>
            </form>
          </div>
          <%- paginationHelper(statusFilter, itemsPerPage, currentPage,
          currentStatus) %>
        </div>
      </div>
    </div>
  </div>
</div>
