<div class="col-lg-3 col-6">
  <div class="small-box bg-info">
    <div class="inner">
      <h3><%= product.count %></h3>
      <p>Products</p>
    </div>
    <div class="icon">
      <i class="ion ion-bag"></i>
    </div>
    <a href="/admin/<%= product.index %>" class="small-box-footer"
      >More info <i class="fas fa-arrow-circle-right"></i
    ></a>
  </div>
</div>

<div class="col-lg-3 col-6">
  <div class="small-box bg-success">
    <div class="inner">
      <h3><%= article.count %></h3>
      <p>Articles</p>
    </div>
    <div class="icon">
      <i class="ion ion-stats-bars"></i>
    </div>
    <a href="/admin/<%= article.index %>" class="small-box-footer"
      >More info <i class="fas fa-arrow-circle-right"></i
    ></a>
  </div>
</div>
<div class="col-lg-3 col-6">
  <div class="small-box bg-warning">
    <div class="inner">
      <h3 id="articleCount">0</h3>
      <p>Users in article</p>
    </div>
    <div class="icon">
      <i class="ion ion-person-add"></i>
    </div>
    <a href="#" class="small-box-footer"
      >More info <i class="fas fa-arrow-circle-right"></i
    ></a>
  </div>
</div>

<div class="col-lg-3 col-6">
  <div class="small-box bg-info">
    <div class="inner">
      <h3 id="productCount">0</h3>
      <p>Users in product</p>
    </div>
    <div class="icon">
      <i class="ion ion-pie-graph"></i>
    </div>
    <a href="#" class="small-box-footer"
      >More info <i class="fas fa-arrow-circle-right"></i
    ></a>
  </div>
</div>
<div class="col-lg-3 col-6">
  <div class="small-box bg-success">
    <div class="inner">
      <h3 id="totalVistor">0</h3>
      <p>Total visitor</p>
    </div>
    <div class="icon">
      <i class="ion ion-pie-graph"></i>
    </div>
    <a href="#" class="small-box-footer"
      >More info <i class="fas fa-arrow-circle-right"></i
    ></a>
  </div>
</div>
<div class="col-lg-3 col-6">
  <div class="small-box bg-info">
    <div class="inner">
      <h3 id="incomeToday">$<%= incomeToday %></h3>
      <p>Income today</p>
    </div>
    <div class="icon">
      <i class="ion ion-pie-graph"></i>
    </div>
    <a href="#" class="small-box-footer"
      >More info <i class="fas fa-arrow-circle-right"></i
    ></a>
  </div>
</div>
<div class="col-lg-3 col-6">
  <div class="small-box bg-success">
    <div class="inner">
      <h3 id="incomeTotal">$<%= incomeTotal %></h3>
      <p>Income total</p>
    </div>

    <div class="icon">
      <i class="ion ion-pie-graph"></i>
    </div>
    <a href="#" class="small-box-footer"
      >More info <i class="fas fa-arrow-circle-right"></i
    ></a>
  </div>
</div>

<div class="col-lg-3 col-6">
  <div class="small-box bg-info">
    <div class="inner">
      <h3 id="incomeTotal"><%= totalOrder %></h3>
      <p>Orders total</p>
    </div>

    <div class="icon">
      <i class="ion ion-pie-graph"></i>
    </div>
    <a href="#" class="small-box-footer"
      >More info <i class="fas fa-arrow-circle-right"></i
    ></a>
  </div>
</div>


