<% include ./../../helper/status %>
<div class="card">
  <div class="card-header border-transparent">
    <h3 class="card-title">Latest Orders</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>

  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table m-0">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>User's email</th>
            <th>Total</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% orderLatest.forEach(item =>{ %>
          <tr>
            <td><a href="order/form/<%= item._id %>"><%= item.orderID %></a></td>
            <td><%= item.customer.email%></td>
            <td>$<%= item.total %></td>
            <td id="<%= item.id %>">
              <% let statusClass = ''; switch (item.status) { case "processing":
              statusClass = "btn btn-block btn-warning"; break; case
              "cancelled": statusClass = "btn btn-block btn-danger"; break; case
              "done": statusClass = "btn btn-block btn-info"; break; default:
              break; } %>
              <a href="#" class="<%= statusClass %>">
                <span class="label"> <%= item.status %> </span>
              </a>
            </td>
          </tr>
          <%}) %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card-footer clearfix">
    <a href="javascript:void(0)" class="btn btn-sm btn-info float-left"
      >Place New Order</a
    >
    <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right"
      >View All Orders</a
    >
  </div>
</div>
