<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../elements/head') %>
  </head>
  <body class="stretched modal-subscribe-bottom">
    <div id="wrapper" class="clearfix">
      <!-- Header -->
      <%- include('../elements/contentHeader') %>
      <!-- Main content -->
      <%- body %>

      <!-- Main Footer -->
      <footer id="footer" class="bg-color dark border-0">
        <%- include('../elements/footer') %>
      </footer>
    </div>

    <%- include('../elements/script') %> <% let bottomAd =
    advertise.find(element => element.position === "bottom") %> <% if (typeof
    bottomAd !== 'undefined' && bottomAd) { %>
    <marquee
      onmouseover="this.stop()"
      onmouseout="this.start()"
      scrollamount="10"
      class="adv-bottom"
      style="
        background-image: url('backend/upload/advertise/<%= bottomAd.thumb %>');
      "
    >
      <h2><%= bottomAd.name %></h2>
      <p><%= bottomAd.content %></p>
      <a href="<%= bottomAd.url %>" class="cta">Shop Now</a>
    </marquee>
    <% } %>
    <script>
      var socket = io();
      socket.on("rececivedMessage", (message) => {
        generateNotify(message.value);
      });
    </script>
  </body>
</html>
