<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../elements/head') %>
  </head>
  <body class="stretched modal-subscribe-bottom">
    <div id="wrapper" class="clearfix">
      <!-- Header -->
      <%- include('../elements/contentHeader') %>
      <!-- Main content -->
      <%- body %>

      <!-- Main Footer -->
      <footer id="footer" class="bg-color dark border-0">
        <%- include('../elements/footer') %>
      </footer>
    </div>

    <%- include('../elements/script') %>

  </body>
</html>
